#canvas{
  position: fixed;
  left: 20%;
  top: 20%;
  width: 60vw;
  height: 60vh;
  border: 1px solid black;
}

/*fOr homepage*/

body {
  background-color: rgb(29, 42, 80);
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /* Ensure no default margin */
  cursor: url('Cursor.png'), auto;
}
a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  text-align: center;
  cursor: url('Cursor.png'), auto;
}
.menu {
  display: flex;
  flex-direction: column;
}
button {
  background-color: #3c104f;
  color: rgb(255, 250, 250);
  font-size: 20px;
  padding: 20px 30px;
  margin-top: 20px;
  border: 5px solid rgb(128, 126, 126);;
  cursor: pointer;
  border-radius: 25px;
  width: fit-content; 
  height: auto; 
  align-self: center; 
}


.rubix {
  padding: 10px 20px;
  font-size: 40px;
  cursor: pointer;
  border: none; 
  background-color: transparent;
  color: white; 
  font-family: 'Metronauts';
}

#soundIcon {
  width: 150px; 
  height: 150px; 
  object-fit: contain;
}


.top-right {
  position: absolute;
  top: 10px; 
  right: 10px; 
}

html, body {
  height: 100%;
  margin: 0;
}
body {
  background-image: url('home.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px; 
  margin-bottom: -300px; 
}

#play2d:hover {
  color: rgb(255, 239, 16); 
  cursor: url('Cursor.png'), auto;
}


#play3d:hover {
  color: rgb(255, 239, 16);
  cursor: url('Cursor.png'), auto;
}


#about:hover {
  color: rgb(255, 239, 16);
  cursor: url('Cursor.png'), auto;
}

@font-face {
  font-family: 'metronauts';
  src: url('metronauts.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


